.page {
  font-family: sans-serif;
}

a {
  color: white;
}
.header, footer {
  height: 50px;
  background-color: black;
  color: white;
  box-sizing: border-box;
}

.header {
  min-width: 100%;
  left: 0;
  right: 0;
  margin: auto;
  padding: auto;
}
.logo {
  font-size: 10px;
  min-width: 300px;
  min-height: 100%;
  margin: auto;
  padding: auto;
  display: inline-flex;
  text-align: left;
}
.logo h1 {
  margin: auto;
  padding: 0;
}
.menu {
  font-size: 16px;
  min-height: 100%;
  padding-left: 20px;
  display: inline-flex;
  text-align: left;
}
.menu li {
  margin-right: 5px;
  display: inline-flex;
}
.menu ul {
  padding: 0;
}

.columns {
  width: 800px;
  margin: 50px auto;
  font-size: 0;
}

.left {
  width: 200px;
  margin-right: 10px;
  background-color: black;
  box-sizing: border-box;
  padding: 20px;
  font-size: 16px;
  vertical-align: top;
  display: inline-block;
}
.right {
  width: 590px;
  border: 2px solid black;
  box-sizing: border-box;
  padding: 20px;
  font-size: 16px;
  vertical-align: top;
  display: inline-block;
}

.left a {
  margin-top: 5px;
  display: block;
}
