<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Заголовок</title>
    <meta description="Templates code">
    <meta keywords="template, test">
</head>
<body>
    <div>
        <header>
            <h1>Hello World</h1>
            <div></div>
            <nav></nav>
        </header>
        <main>
            <section>
                <h2>Секция 1</h2>
            </section>
            <section>
                <h2>Секция 2</h2>
            </section>
        </main>
        <footer>
            <div></div>
        </footer>
    </div>

</body>
</html>